<%- include('header') %>

<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form class="ui large form" method="post">
      <div class="field required">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="text" name="name" placeholder="address">
        </div>
      </div>
      <div class="field required">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
        </div>
      </div>
      <input type="submit" class="ui button fluid" value="登录">
    </div>
  </form>
</div>

<%- include('footer') %>
