<%- include('header') %>

<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form class="ui form segment" method="post" enctype="multipart/form-data">
      <div class="field required">
        <label>用户名</label>
        <input placeholder="用户名" type="text" name="name">
      </div>
      <div class="field required">
        <label>密码</label>
        <input placeholder="密码" type="password" name="password">
      </div>
      <div class="field required">
        <label>重复密码</label>
        <input placeholder="重复密码" type="password" name="repassword">
      </div>
      <div class="field required">
        <label>用户类型</label>
        <div class="inline fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="role" checked="" tabindex="0" value="1" class="hidden">
              <label>管理员</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="role" tabindex="0" value="2" class="hidden">
              <label>经理</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="role" tabindex="0" value="3" class="hidden">
              <label>组长</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="role" tabindex="0" value="4" class="hidden">
              <label>教师</label>
            </div>
          </div>
        </div>
      </div>
    <input type="submit" class="ui button fluid" value="注册">
  </div>
  </form>
</div>
<script src="/javascripts/signup.js"></script>
<%- include('footer') %>
